body{
    background-color: rgb(252, 244, 211);
    color: rgb(0, 0, 0);
    font-family: Arial;
    text-align: center;
}
h2{
    color: rgb(75, 73, 71);
    font-size: large;
    font-family: Arial, sans-serif;
    text-align: center;
}
h3{
    color: rgb(75, 73, 71);
    font-size: large;
    font-family: Arial, sans-serif;
    text-align: center;
    
}

label{
    font-family: 'Franklin Gothic Medium';
    font-weight: bold;  
    font-size: large;
    border-radius: 24px;
}
input{
    color: black;
    background-color: bisque;
    font-size: 24px;
    border-radius: 24px;

}